body {
    height: 7780px;
}

#logo{
    width: 12vw;
}

.d1{
    width: 90vw;
}

.l1{
    margin-right: 2vw;
}




@media all and (max-width:991px) {
    .d2{
        display: none;
    }
    .a1{
        display: none;
    }

    .a2{
        margin-right: -50vw;
    }

    .d3{
        width: 19vw;
        height: 3vh;
        line-height: 30px;
        margin-top: -10vh; 
        left: 40vw;
        color: black;
    }
    .d3:hover{
        background-color: #cc0108;
        border-color: #cc0108;
        color: white; 
    }

    .d5{
        display: none;
    }

    
    
}

@media all and (min-width:992px) {
    .a2{
        display: none;
    }
    .d4{
        display: none;
    }

    .d6{
        width: 13vw;
        height: 3vh;
        line-height: 30px;
        margin-top: -15vh; 
        left: 65vw;
        color: black;
    }
    .d6:hover{
        background-color: #cc0108;
        border-color: #cc0108;
        color: white; 
    }

}