.logo{

    width: 40%;
}




@media all and (max-width:991px){
    .d2{
        display: none;
    }

    .a1{
        display: none;
    }


}




@media all and (min-width:992px){
    .a2{
        display: none;
    }

    .nav-item:hover{
        text-decoration: underline red;
    }

    .nav-link{
        font-size: calc(7px + 0.5vw);
    }
}